/*!CK:2686120289!*//*1457643613,*/

._2prt{background:rgba(255, 255, 255, .95);height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}._2prv{margin:35px 0 20px 15px}._2prw{margin:36px 16px 0 0;width:210px}._2prx{color:#333;font-size:12px}._2pry{color:#a3a3a3;font-size:12px}

#bootloader_ZYVxz{height:42px;}.bootloader_ZYVxz{display:block!important;}