/*!CK:1063139273!*//*1457735731,*/

._4sg0{margin-bottom:12px}._k2r{padding:12px}._k2s{padding:12px}._4sg1{padding-top:6px}._4sg3{padding:6px 0}._4sg4{padding:6px 12px}._1_h8{padding:0 12px}._1_h9{width:1%}._k2s ._43qc{margin-right:12px;white-space:nowrap}._k2s ._4sg9{color:#141823}._4sga{padding:0 0 4px}
.sp_L_6Za73erQ6{background-image:url(/rsrc.php/v2/yk/r/oRLb4WLycWK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_L_6Za73erQ6.sx_c9586f{background-position:0 0}.sp_L_6Za73erQ6.sx_0b95a2{background-position:0 -17px}

#bootloader_ZAg_o{height:42px;}.bootloader_ZAg_o{display:block!important;}